/* body section */
body {
    font-family: Fredoka One, Arial, sans-serif;
    margin: 0px;
    font-size: 1.75vw;
    color: rgb(255, 255, 255);
    background-color: rgb(242, 210, 255);
}

/* logo */
#logo {
    margin-top: 20.5px;
    padding: 20px;
    font-family: "Dancing Script", sans-serif;
    font-size: 8.2vw;
}

/* gradient header */
body > header {
    background: linear-gradient(to top, rgb(242, 210, 255) 0%, rgb(255, 238, 183) 50%);
    color: rgb(255, 166, 255) 
}

/* header format */
#main-header {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}

/* nav format & stying */
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul > li{
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color:rgb(255, 194, 253);
    font-size: 1.9vw;
    font-family: "Fredoka One", sans-serif;
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;
}

/* main body formatting */
body > main article {
    width: 80%;
    margin: auto;
}

/* side bar (filters) formatting */
aside {
    margin-left: 30px;
    margin-top: 0px;
    color: rgb(255, 166, 255);
    width: 80px;
}

.no-bullets{
    list-style-type: none;
    padding-left: 0px;
}

/* main content formatting */
#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div{
    width: 90%;
}

#main-content > aside {
    align-items: center;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

/* tees section */
#tees {
    padding-top: 80px;
    padding-left: 95px;
}

#tees{
    align-items: center;
}

#lilac-top {
    border-radius: 20%;
    height: 30vh;
}

#white-top {
    border-radius: 20%;
    height: 30vh; 
}

#green-top {
    border-radius: 20%;
    height: 30vh;   
}

#white-blue-top {
    border-radius: 20%;
    height: 30vh;
}

#black-pink-top {
    border-radius: 20%;
    height: 30vh;
}

#white-yellow-top {
    border-radius: 20%;
    height: 30vh;
}

/* hoodies section */
#hoodies {
    padding-top: 50px;
    padding-left: 105px;
}

#white-blue-hoodie {
    border-radius: 20%;
    height: 30vh;
}

#black-blue-hoodie {
    border-radius: 20%;
    height: 30vh;
}

#black-pink-hoodie {
    border-radius: 20%;
    height: 30vh;
}

/* newsletter question format & styling */
#name, #email, #password, #country, #bio {
    border: none;
    border-radius: 10%;
    background-color: rgb(245, 221, 254);
    font-family: fredoka one; 
}

option {
    color: white;
}

/* footer gradient, & styling */
body > footer {
    display: flex;
    background: linear-gradient(to bottom, rgb(242, 210, 255) 0%, rgb(255, 238, 183) 100%); 
    color: rgb(255, 166, 255)   
}

body > footer {
    padding: 10px;
    margin-top: 20.5px;
}

/* fairies front page */
#yfairy {
height: 24vh;
padding:5%;
padding-left: 15%;
}

#pfairy {
    height: 15vh;
    padding: 5%;
}

#bfairy {
    height: 24vh;
    padding: 5%;
}

#gfairy {
    height: 24vh;
    padding: 5%;

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 50vh;
}


}

/* footer logo */
#logo-footer {
    font-size: 25px;
    padding: 30px;
    font-family: Dancing Script;
}

/* footer content format & styling */
#footer-ul {
    display: flex;
    list-style: none;

}

#footer-ul > div > li {
    margin-left: 30px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}

/* formatting for medium size screen */
@media only screen and (max-width: 1000px){
    body{
        background-color: rgb(242, 210, 255);
     }
     #yfairy {
        height: 12vh;
        padding:5%;
        padding-left: 15%;
        }
        
        #pfairy {
            height: 7vh;
            padding: 5%;
        }
        
        #bfairy {
            height: 12vh;
            padding: 5%;
        }
        
        #gfairy {
            height: 12vh;
            padding: 5%;
        
        .flex-container {
            display: flex;
            justify-content: space-between;
            padding: 50vh;
        }
}
}

/* formatting for phone size screen */
@media only screen and (max-width: 800px) {
    body{
        background-color: rgb(242, 210, 255);
     }
     #yfairy {
        height: 7vh;
        padding:5%;
        padding-left: 15%;
        }
        
        #pfairy {
            height: 5vh;
            padding: 5%;
        }
        
        #bfairy {
            height: 7vh;
            padding: 5%;
        }
        
        #gfairy {
            height: 7vh;
            padding: 5%;
        
        .flex-container {
            display: flex;
            justify-content: space-between;
            padding: 50vh;
        }
}
}