/* body section */
body {
    font-family: Fredoka One, Arial, sans-serif;
    margin: 0px;
    font-size: 1.75vw;
    color: rgb(255, 166, 255);
    background-color:#ff99be;
    background-image:
    radial-gradient(at 28% 77%, hsla(224,75%,70%,1) 0px, transparent 50%),
    radial-gradient(at 66% 43%, hsla(44,89%,65%,1) 0px, transparent 50%),
    radial-gradient(at 76% 90%, hsla(267,75%,64%,1) 0px, transparent 50%),
    radial-gradient(at 7% 66%, hsla(349,62%,79%,1) 0px, transparent 50%),
    radial-gradient(at 12% 87%, hsla(302,91%,66%,1) 0px, transparent 50%),
    radial-gradient(at 79% 2%, hsla(290,62%,60%,1) 0px, transparent 50%),
    radial-gradient(at 32% 92%, hsla(351,61%,78%,1) 0px, transparent 50%);
}

/* logo */
#logo {
    margin-top: 20.5px;
    padding: 20px;
    font-family: "Dancing Script", sans-serif;
    font-size: 8.2vw;
    color: rgb(255, 229, 200);
}

/* gradient header */
body > header {
    /*background: linear-gradient(to top, rgb(255, 219, 251) transparent 0%, rgb(255, 238, 183) 50%);
    color: rgb(255, 166, 255) */
}

/* header format */
#main-header {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}

/* nav format & stying */
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul > li{
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color:rgb(255, 194, 253);
    font-size: 1.9vw;
    font-family: "Fredoka One", sans-serif;
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;
}

/* main body formatting */
body > main article {
    width: 80%;
    margin: auto;
}

/* side bar (filters) formatting */
#aside-left {
    margin-left: 60px;
    margin-top: 0px;
    color: rgb(255, 194, 253);
    width: 80px;
}

.no-bullets{
    list-style-type: none;
    padding-left: 0px;
}

/* main content formatting */
#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 95%;
    align-items: center;
}

#main-content > aside {
    align-items: center;
}

/* tees section */
#tees {
    padding-top: 80px;
    padding-left: 190px;
    color: rgb(255, 194, 253);
}

#tees{
    align-items: center;
    margin-left: 23px;
    margin-top: 10px;
}

#lilac-top {
    border-radius: 20%;
    height: 30vh;
    padding: 20px;
}

#white-top {
    border-radius: 20%;
    height: 30vh; 
    padding: 20px;
}

#green-top {
    border-radius: 20%;
    height: 30vh;   
    padding: 20px;
}

#white-blue-top {
    border-radius: 20%;
    height: 30vh;
    padding: 20px;
}

#black-pink-top {
    border-radius: 20%;
    height: 30vh;
    padding: 20px;
}

#white-yellow-top {
    border-radius: 20%;
    height: 30vh;    
    padding: 20px;
}

.bunnies {
    align-items: center;
    padding-left: 10%;
    padding-top: 5%;
}

/* hoodies section */
#hoodies {
    align-items: center;
    padding-top: 80px;
    padding-left: 190px;
    color: rgb(255, 194, 253);
}

#white-blue-hoodie {
    border-radius: 20%;
    height: 30vh;
    padding: 20px;
}

#black-blue-hoodie {
    border-radius: 20%;
    height: 30vh;
    padding: 20px;
}

#black-pink-hoodie {
    border-radius: 20%;
    height: 30vh;
    padding: 20px;
}

/* newsletter question format & styling */
#name, #email, #password, #country, #bio {
    border: none;
    border-radius: 0%;
    background-color: rgb(245, 221, 254);
    font-family: fredoka one; 
    margin: 10px;
}

.flex-container2 {
    align-items: center;
    justify-content: space-between;
}

/* footer gradient, & styling */
body > footer {
    display: flex;
    /*background: linear-gradient(to bottom, rgb(255, 219, 251) 0%, rgb(255, 238, 183) 100%); 
    color: rgb(255, 166, 255) */  
}

body > footer {
    padding: 10px;
    margin-top: 20.5px;
}

/* fairies front page */
#yfairy {
height: 24vh;
padding:5%;
padding-left: 15%;
}

#pfairy {
    height: 15vh;
    padding: 5%;
    padding-top: 130px;
    padding-left: 20px;
}

#bfairy {
    height: 24vh;
    padding: 5%;
}

#gfairy {
    height: 24vh;
    padding: 5%;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

hr {
    margin: 80px;
    border-width: 0.5px;
    background-color: rgb(255, 166, 255);
}

#newsltr-header {
    margin-top: 30vh;
    font-size: 20px;
}

.subscribe-button {
    margin-top: 20px;
    background-color: rgb(245, 221, 254);
    font-family: fredoka one;
    color: rgb(110, 110, 110);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form {
    text-align: center;
}

h2 {
    text-align: center;

}

/* footer logo */
#logo-footer {
    font-size: 25px;
    padding: 30px;
    font-family: Dancing Script;
}

/* footer content format & styling */
#footer-ul {
    display: flex;
    list-style: none;
    
}

#footer-ul > div > li {
    margin-left: 30px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: rgb(255, 166, 255);
    font-size: 15px;
}

/* formatting for medium size screen */
@media only screen and (max-width: 1200px){
    body{
     background-color: rgb(255, 219, 251);
     }

     #yfairy {
        height: 12vh;
        padding:5%;
        padding-left: 15%;
        }
        
        #pfairy {
            height: 7vh;
            padding: 5%;
        }
        
        #bfairy {
            height: 12vh;
            padding: 5%;
        }
        
        #gfairy {
            height: 12vh;
            padding: 5%;
        
        .flex-container {
            display: flex;
            justify-content: space-between;
            padding: 50vh;
        }
    }}

/* formatting for phone size screen */
@media only screen and (max-width: 800px) {
    body{
        background-color: rgb(255, 219, 251);
     }
     #yfairy {
        height: 7vh;
        padding:5%;
        padding-left: 15%;
        }
        
        #pfairy {
            height: 5vh;
            padding: 5%;
        }
        
        #bfairy {
            height: 7vh;
            padding: 5%;
        }
        
        #gfairy {
            height: 7vh;
            padding: 5%;
        
        .flex-container {
            display: flex;
            justify-content: space-between;
            padding: 50vh;
        }
}
}